@import "tailwindcss";

@theme {
  --animate-spin-slow: spin 3s linear infinite;
}

.animate-bounce-delay-1 {
  animation: bounce 1s infinite;
  animation-delay: 0.2s;
}

.animate-bounce-delay-2 {
  animation: bounce 1s infinite;
  animation-delay: 0.4s;
}
